<div id="<%= dom_id restaurant %>">

<p>
<%= link_to "Chef", chef_restaurant_path(restaurant)  %>
</p>
  <p>
    <strong>Name:</strong>
    <%= restaurant.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= restaurant.address %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= "â­ï¸" * restaurant.rating %>
  </p>

</div>
